body {
  display: grid;
  place-content: center;

  background-color: var(--black);
  color: var(--white);
  position: relative;
}

dialog {
  border: none;  
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;

  word-wrap: break-word;

  background-clip: border-box;
  border: 0;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 450px;
}

.card-content {
  padding: 8px 20px;  
  background-color: #141414;
  color: aliceblue;
  font-size: 22px;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  all: unset;
  border: none;
  border-radius: 15px;
  background-color: var(--purple);
  color: var(--white);
  box-shadow: var(--shadow-elevation-low);
  padding: 8px 12px;
  margin: 6px 0;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

  transition: ease;
  transition-duration: 0.2s;
}

.close {
  margin-top: 15px;
  padding: 4px 15px !important;
  border-radius: 10px;
}